{{ form_errors(form) }}

<div class="ui segment">
    <div class="two fields">
        {{ form_row(form.isHttps) }}
        {{ form_row(form.enabled) }}
    </div>    <div class="two fields">
        {{ form_row(form.name) }}
        {{ form_row(form.feedType) }}
    </div>
    <div>
        {{ form_row(form.shopName) }}
    </div>
    <div >
        {{ form_row(form.shopDescription) }}
    </div>
    <div class="two fields">
        {{ form_row(form.channel) }}
        {{ form_row(form.productNameMode) }}
    </div>
    <div class="two fields">

    </div>
</div>
